@import "../../default/style/_variables"
@import "../../default/style/_mixins"

// Import Bootstrap
@import "../../../node_modules/bootstrap-styl/bootstrap/mixins/vendor-prefixes"
@import '../../../node_modules/bootstrap-styl/bootstrap/mixins/responsive-visibility'
@import '../../../node_modules/bootstrap-styl/bootstrap/mixins/clearfix'
@import '../../../node_modules/bootstrap-styl/bootstrap/responsive-utilities'
@import '../../../node_modules/bootstrap-styl/bootstrap/utilities'
@import "../../../node_modules/bootstrap-styl/bootstrap/mixins/grid"
@import "../../../node_modules/bootstrap-styl/bootstrap/mixins/grid-framework"
@import "../../../node_modules/bootstrap-styl/bootstrap/grid"
@import "../../../node_modules/bootstrap-styl/bootstrap/modals"

@import "sprite"
@import "partials/_mixin"
@import "../../default/style/helpers"
@import "../../default/style/text-align-responsive.styl"

// header
// @import "../../default/style/header"

// footer
// @import "../../default/style/footer"