.button
    outline: none
    text-decoration: none
    text-align: center
    border: none
    display: inline-block
    vertical-align: top
    min-height: 40px;
    padding: 10px 20px
    background-color transparent