extends pug/layout.main.pug

block vars
    - var pageTitle = 'Главная'

block body
    include pug/header
    .main(role="main")
        h1!= pageTitle
        h2!= pageTitle
        h3!= pageTitle
        h4!= pageTitle
        div
            img(src="./images/vader.jpg" alt="Vader")
        div
            +icon('vk')
    include pug/footer