extends pug/layout.main.pug

block vars
    - var pageTitle = 'Главная'

block body
    include pug/header
    .main(role="main")
        .container
            h1!= pageTitle
            h2!= pageTitle
            h3!= pageTitle
            h4!= pageTitle

            #test

            - for (var i = 0; i < 1; i++) {
                div
                    img(src data-src="./images/vader.jpg" alt="Vader")
            - }

            div
                +icon('vk')
    include pug/footer